<html class="wf-roboto-n4-active wf-roboto-n5-active wf-active"><head>
      <title>GS</title>
      <link rel="icon" type="image/png" href="https://www.google.com/favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Link para o CSS do Bootstrap -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/loader.js"></script>
   <style>
      .dark-theme {
      background-color: #333;
      color: #fff;
      }
      .dark-theme table {
      background-color: #555;
      color: #fff;
      }
      .bt-selected{
      background: black;
      }
   </style><link id="load-css-0" rel="stylesheet" type="text/css" href="https://www.gstatic.com/charts/51/css/core/tooltip.css"><link id="load-css-1" rel="stylesheet" type="text/css" href="https://www.gstatic.com/charts/51/css/util/util.css"><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/js/jsapi_compiled_default_module.js"></script><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/js/jsapi_compiled_graphics_module.js"></script><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/js/jsapi_compiled_ui_module.js"></script><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/js/jsapi_compiled_fw_module.js"></script><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/third_party/dygraphs/dygraph-tickers-combined.js"></script><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/third_party/webfontloader/webfont.js"></script><link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto%7CRoboto:medium"><script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/51/js/jsapi_compiled_bar_module.js"></script></head>
   <!-- CSS para o Modo Escuro -->
   
   <head>
   
   <script>
   function ajustarTamanhoFonte() {
      const div1 = document.getElementById("div1");
      const div2 = document.getElementById("div2");

      const alturaDiv1 = div1.clientHeight;
      const alturaDiv2 = div2.clientHeight;
      console.log(alturaDiv1 & " " & alturaDiv2)

      // Defina o tamanho da fonte com base na altura da div
      const tamanhoFonteDiv1 = alturaDiv1 * 0.075; // 0.1 é um fator de escala (ajuste conforme necessário)
      const tamanhoFonteDiv2 = alturaDiv2 * 0.075; // 0.1 é um fator de escala (ajuste conforme necessário)

      div1.style.fontSize = tamanhoFonteDiv1 + "px";
      div2.style.fontSize = tamanhoFonteDiv2 + "px";
   }

   // Chame a função quando a página for carregada e redimensionada
   window.addEventListener("load", ajustarTamanhoFonte);
   window.addEventListener("resize", ajustarTamanhoFonte);
</script>
   
   </head><body>
      <div class="container">
         <h1><i class="fa fa-apple"></i>Germana Automacao</h1>
      </div>
      <div class="container">
         <div class="container">
            <a href="#"><i class="fa fa-home"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-globe"></i></a>
         </div>
         
      </div>
      
      
            <div class="container">
         <h6>Golden Sucos</h6>
      </div>
      
      <div class="container border p-2">
      <div class="row border p-2">
         <div class="col-md-6 border p-2">
            <h4 style="text-align: center; margin: 0px">Tanque 1</h4>
            <div class="row justify-content-around p-2">
               <div class="border col mx-1" id="div1" style="font-size: 25.4px;">
                  <div class="position-relative">
                     <img src="https://cdn-icons-png.flaticon.com/512/4272/4272544.png" alt="Imagem de teste" class="img-fluid">
                     <div class="position-absolute top-50 start-50 translate-middle">
                        <p class="text-black" style="font-size: inherit;margin: 0px;">Nivel: 56%</p>
                        <p class="text-black" style="font-size: inherit;margin: 0px;">Peso:1234 kg</p>
                        <p class="text-black" style="font-size: inherit;margin: 0px;">Temp: 56 °C</p>
                     </div>
                  </div>
               </div>
               <div class="border col mx-1">
                  <p class="text-black" style="font-size: inherit;margin: 0px;">Nivel</p>
                  <p class="text-black" style="font-size: inherit;margin: 0px;">Peso</p>
                  <p class="text-black" style="font-size: inherit;margin: 0px;">Temperatura</p>
               </div>
            </div>
         </div>
         <div class="col-md-6 border p-2">
            <h5 style="text-align: center; margin: 0px">Tanque 2</h5>
            <div class="row justify-content-around p-2">
               <div class="border col mx-1">
                  <div class="position-relative" id="div2" style="font-size: 25.4px;">
                     <img src="https://cdn-icons-png.flaticon.com/512/4272/4272544.png" alt="Imagem de teste" class="img-fluid">
                     <div class="position-absolute top-50 start-50 translate-middle">
                        <p class="text-black" style="font-size: inherit;margin: 0px;">Nivel: 56%</p>
                        <p class="text-black" style="font-size: inherit;margin: 0px;">Peso:1234 kg</p>
                        <p class="text-black" style="font-size: inherit;margin: 0px;">Temp: 56 °C</p>
                     </div>
                  </div>
               </div>
               <div class="border col mx-1">
                  <p class="text-black" style="font-size: inherit;margin: 0px;">Nivel: 56%</p>
                  <p class="text-black" style="font-size: inherit;margin: 0px;">Peso:1234 kg</p>
                  <p class="text-black" style="font-size: inherit;margin: 0px;">Temp: 56 °C</p>
               </div>
            </div>
         </div>
      </div>
   </div>
      
      <script>
         function printTable() {
               const table = document.querySelector(".table");
               const newWindow = window.open('', '_blank');
               newWindow.document.write('<html><head><title>Tabela para Impressão</title>');
               newWindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">');
               newWindow.document.write('</head><body>');
               newWindow.document.write(table.outerHTML);
               newWindow.document.write('</body></html>');
               newWindow.document.close();
               newWindow.print();
            }
            function exportToCSV() {
               const table = document.querySelector(".table");
               const rows = Array.from(table.querySelectorAll("tr"));
               const csvContent = rows.map(row => {
                   const cells = Array.from(row.querySelectorAll("td, th"));
                   return cells.map(cell => cell.textContent).join(",");
               }).join("\n");
               const blob = new Blob([csvContent], { type: "text/csv" });
               const url = URL.createObjectURL(blob);  
               const a = document.createElement("a");
               a.href = url;
               a.download = "tabela.csv";
               a.style.display = "none";
               document.body.appendChild(a);
               a.click();
               document.body.removeChild(a);
            }
      </script>
   
</body></html>
