body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
}

.logo {
    font-size: xx-large;
}

.header {
    background-color: rgb(42,43,37);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
    border: none 1px;
    z-index: 1;
}

.header a {
    color: white;
}

.menu {
    display: flex;
    /*padding-top: 10px;*/
}

.menu img {
    height: 50px;
}

.menu li {
    margin-left: 15px;
    font-size: 1rem;
}

.menu li a {
    display: block;
    padding: 5px;
}

.user {
    display: flex;
}

.user li {
    margin-right: 10px;
}

.user li p {
    font-size: small;
}

.info-bar ul {
    display: flex;
}

.info-bar li {
    margin-left: 10px;

}

.info-bar li p {

    color: white;
    font-size: 0.7rem;
}

section {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-tank {
    border: solid 2px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.tank {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}

.level-bar {
    display: flex;
    align-items: end;
    margin-left: -78px;
    margin-top: 25px;
    margin-right: 40px
    
 
}

.menu-aside {
    display: none;
    background: #334c6e;
    border-right: solid 1px
        /*border: solid 1px;
    border-radius: 10px;
    margin: 10px;*/
}

.menu-aside a {
    color: black;
}


.menu-aside ul i {
    margin-top: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background: #334c6e;
    /*border: solid 1px;
    border-radius: 10px;
    margin: 10px;*/
}

.content div {
    background-color: #8a939f;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px;
    height: 400px;
    width: 500px;



}




.menu-collapsible {
    display: flex;
    align-items: center;
    /* Alinha verticalmente */
    margin: 6px 0;
}




.collapsible-content {
    margin-left: 35px;
    max-height: 0;
    overflow: hidden;
    outline: none;
    transition: max-height 0.2s ease-out;
}

.collapsible-content li {
    color: black;
}

.collapsible-content li {
    margin: 4px 0;
}

.menu-collapsible.active+.collapsible-content {
    width: 100%;
    outline: none;
}

.menu-collapsible:focus,
.menu-collapsible:active,
.menu-collapsible:visited {
    outline: none;
    color: black;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-top: 50px;
    font-size: small;
}